[flake8]
ignore = E203, E266, E501, W503, D401, D202, RST299, RST304, RST399, FI
exclude = 
    .git,
    __pycache__,
    docs/source/conf.py,
    old,
    build,
    dist,
    scent.py
per-file-ignores = 
    NiaPy/tests/*:B007,D100,D101,D102,D107,D208,D211,D413,E117,E302,E701,E704,F841,S110,W191,W293
    
