[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
numpy = ">=1.16.2"
scipy = ">=1.2.1"
matplotlib = ">=3.0.2"
alabaster = ">=0.7.10"
certifi = ">=2018.1.18"
chardet = ">=3.0.4"
docutils = ">=0.14"
idna = ">=2.6"
imagesize = ">=1.0.0"
pyparsing = ">=2.2.0"
pytz = ">=2018.3"
requests = ">=2.18.4"
six = ">=1.11.0"
snowballstemmer = ">=1.2.1"
sphinx-rtd-theme = ">=0.2.4"
sphinxcontrib-napoleon = ">=0.7"
sphinxcontrib-websupport = ">=1.0.1"
urllib3 = ">=1.22"
XlsxWriter = ">=1.1.5"
Babel = ">=2.5.3"
Jinja2 = ">=2.10"
MarkupSafe = ">=1.0"
Pygments = ">=2.2.0"
Sphinx = ">=1.8.5"

[dev-packages]
#pylint = [{version = "==1.9.3", markers = "python_version < '3.4'"}, {version = ">=2.3.0", markers = "python_version >= '3.4'"}]
pylint = ">=1.9.3"
#pylint = ">=2.3.0"
pycodestyle = "*"
pydocstyle = "*"
pytest = "~=3.3"
pytest-describe = "*"
pytest-expecter = "*"
pytest-random = "*"
pytest-cov = "*"
freezegun = "*"
coverage-space = "*"
docutils = "*"
"pathlib2" = "*"
wheel = "*"
twine = "*"
sniffer = "*"
"enum34" = "*"
singledispatch = "*"
configparser = "*"
sphinx-rtd-theme = "*"
funcsigs = "*"
futures = "==3.1.1"
"autopep8" = "*"
sphinx-autobuild = "*"
scandir = "*"
Pygments = "*"
"backports.functools_lru_cache" = "*"
Sphinx = "*"
MacFSEvents = {sys_platform = "== 'darwin'",version = "*"}
