[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
click = "*"
numpy = ">=1.15.0"
scipy = ">=1.1.0"
xlsxwriter = ">=1.0.2"
matplotlib = "~=2.2.3"

[dev-packages]
pylint = "==1.9.3"
pycodestyle = "*"
pydocstyle = "*"
pytest = "~=3.3"
pytest-describe = "*"
pytest-expecter = "*"
pytest-random = "*"
pytest-cov = "*"
freezegun = "*"
coverage-space = "*"
docutils = "*"
pygments = "*"
"pathlib2" = "*"
wheel = "*"
pyinstaller = "*"
twine = "*"
sniffer = "*"
macfsevents = {version = "*",sys_platform = "== 'darwin'"}
"enum34" = "*"
singledispatch = "*"
"backports.functools-lru-cache" = "*"
configparser = "*"
sphinx = "*"
sphinx-rtd-theme = "*"
funcsigs = "*"
futures = "==3.1.1"
"autopep8" = "*"
sphinx-autobuild = "*"
scandir = "*"
