[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[requires]

python_version = "3.6"

[packages]

click = "*"

[dev-packages]

pylint = "*"
pycodestyle = "*"
pydocstyle = "*"
pytest = "~=3.3"
pytest-describe = "*"
pytest-expecter = "*"
pytest-random = "*"
pytest-cov = "*"

freezegun = "*"
"coverage.space" = "*"

mkdocs = "*"
docutils = "*"
pygments = "*"

wheel = "*"
pyinstaller = "*"

twine = "*"

sniffer = "*"
pync = "*"
MacFSEvents = {version = "*", sys_platform = "== 'darwin'"}
