alabaster>=0.7.10
Babel>=2.5.3
certifi>=2018.1.18
chardet>=3.0.4
docutils>=0.14
idna>=2.6
imagesize>=1.0.0
Jinja2>=2.10
MarkupSafe>=1.0
packaging>=16.8
Pygments>=2.2.0
pyparsing>=2.2.0
pytz>=2018.3
requests>=2.18.4
six>=1.11.0
snowballstemmer>=1.2.1
sphinx>=1.8.5
#sphinx-rtd-theme>=0.2.4
sphinx-press-theme>=0.5.1
sphinxcontrib-napoleon>=0.7
sphinxcontrib-websupport>=1.0.1
urllib3>=1.22
xlsxWriter>=1.1.5
numpy>=1.16.2
scipy>=1.2.1
matplotlib>=3.0.2
