name: Build and Publish NiaPy Conda Package

on:
  release:
    types: [published]

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
    - name: Setup Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-activate-base: true
        activate-environment: ""
    - name: Build and publish to conda
      shell: bash -l {0}
      run: |
        conda install -y conda-build anaconda-client
        conda build conda --output-folder build
        anaconda -t ${{ secrets.ANACONDA_TOKEN }} upload build/noarch/*.tar.bz2 --force