name: Build and Publish NiaPy Pypi Package

on:
  release:
    types: [published]

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    permissions:
      # IMPORTANT: this permission is mandatory for trusted publishing
      id-token: write
      contents: read
    steps:
    - name: Checkout code
      uses: actions/checkout@v6

    - name: Set up Python 3.13
      uses: astral-sh/setup-uv@v7
      with:
        python-version: "3.13"
    - name: Build project for distribution
      run: uv build
    - name: Publish package distributions to PyPI
      run: uv publish
